<%= form_for(@blocker) do |f| %>
  <% if @blocker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blocker.errors.count, "error") %> prohibited this blocker from being saved:</h2>

      <ul>
      <% @blocker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user, "Select User" %><br />
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :size => 80 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
